<div class="color-shade">
  <div class="edge-align">
    <h3 class="bolded">Liberate your everyday wellness</h3>
    <h2 class="heading">Shop our self-care products</h2>
    <p>You care about conscious consumption, and so do we.</p>
    <p>
      Gentle formulations thoughtfully engineered by specialist researchers and
      doctors to simplify your self-care and get results fast. And, we always
      list our ingredients-so what you see is what you get.
    </p>
    <div class="content">
      <button class="button">Upgrade your self-care</button>
    </div>
    <h2 class="align-center">#NoNasties, we promise!</h2>
  </div>
</div>
<img src="../../assets/flower.png" style="width: 101%; margin-left: -2px" />
