<div class="color-shade">
  <div class="edge-align">
    <h3 class="bolded">What makes us different?</h3>
    <h2 class="heading">Reimagining and rewiriting self-care</h2>
    <p>You care about conscious consumption, and so do we.</p>
    <p>
      When it comes to your health, "good enough" is not good enough. We're here
      to flip the script on that narrative because you deserve the best
    </p>
    <p>We collabrate with researahers and doctors to</p>
    <ul style="margin-left: 20px">
      <li>
        <p>
          Help you get granular about your health ans self-care with
          personalized insights, and
        </p>
      </li>
      <li>
        <p>Equip you with simple, sustainable products that get the job done</p>
      </li>
    </ul>
    <p>No to-the-moon-and-back claims in this neck of the woods</p>
    <p>We're just solving realproblems for real people here.</p>
  </div>
</div>
