<div class="color-shade">
  <div class="edge-align">
    <h2 class="heading">Consult with wellness experts</h2>
    <p>
      Set up health consultations with experienced doctors and therapists on our
      app. Simply select a service, answer a few questions, and we'll connect
      you to someone who is the right-fit for you.
    </p>
    <div class="content">
      <button class="button">Get a consultation</button>
    </div>
  </div>
</div>
<img src="../../assets/doctor.png" style="width: 100%" />
