.color-shade {
  background: linear-gradient(to bottom, #fefefe, #f9f9f9, #f6f6f7);
  padding-top: 35px;
  padding-bottom: 30px;
  margin-top: -5px;
}

.content {
  display: flex;
  justify-content: center;
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  color: rgb(31, 52, 89);
}

.bolded {
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(31, 52, 89);
  margin-bottom: 30px;
}

.edge-align {
  margin: 0 35px 0 35px;
}

p {
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 18px;
}

/* CSS */
.button {
  align-items: center;
  background-color: initial;
  background: linear-gradient(to bottom right, #74bdf6, #6e8cf6);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,
  rgba(226,241,244,255) 0 8px 12px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.04em;
  line-height: 16px;
  margin: 0;
  padding: 20px 25px;
  text-align: center;
  vertical-align: baseline;
}

.align-center {
  text-align: center;
  font-weight: 100;
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.796);
}
