<div class="color-shade">
  <div class="edge-align">
    <h2 class="heading">Get your personalized period box</h2>
  </div>
  <img src="../../assets/box.png" style="width: 100%" />
  <div class="edge-align">
    <p>
      Tailor your monthly box of organic period products without the organic
      price tag (no pink taxing here). Get it delivered to your doorstep in
      sustainable packaging and track your subscription on our app.
    </p>
    <div class="content">
      <button class="button">Create your box on the app &nbsp; &nbsp; &nbsp; &nbsp; &gt;</button>
    </div>
  </div>
</div>
