<div class="color-shade">
  <div class="edge-align">
    <h2 class="heading">Track your mood</h2>
    <p>
      All days and all moods are not made equal. But we can only improve what we
      measure. Track your mood and vitals (including skin and hair health) so
      you can take better care of yourself every day.
    </p>
    <div class="content">
      <button class="button">Track you mood on the app</button>
    </div>
  </div>
  <div
    style="
      margin: 10px;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px
    "
  >
    <img src="../../assets/w1.png" style="width: 47%" />
    <img src="../../assets/w2.png" style="width: 47%" />
    <img src="../../assets/w3.png" style="width: 47%" />
    <img src="../../assets/w4.png" style="width: 47%" />
  </div>
</div>
