<div class="color-shade">
  <div class="edge-align">
    <h2 class="heading">Track your period</h2>
    <p>
      Stay in the know with reliable Al-based and science-backed period,
      ovulation, and PMS predictions. The intuitive design makes tracking your
      cycle effortless and helps you stay on top of your monthly data.
    </p>
    <div class="content">
      <button class="button">Track you period on the app</button>
    </div>
  </div>
</div>
<img src="../../assets/periods.png" style="width: 100%" />
